.generalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.generalInfoRow {
    display: flex;
    justify-content: space-between;
}

.generalInfoInput {
    width: "100%"
}

.columnModificatorsGroup {
    display: flex;
}

.columnModificators {
    display: flex;
    flex-direction: column;
}

.otherStats {
    margin-left: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.checkboxContainer {
    display: flex;
    justify-content: flex-start;
    font-size: 1.4rem;
    align-items: center;
}

.checkboxLabel {
    width: 100%;
    text-align: center;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    font-size: 12px;

}

.statsRow {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    padding-left: 5px;
    padding-right: 2px;
}

.customInput {
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    width: 30px;
    line-height: 14px;
    font-size: 12px;
    color: black;
    text-align: center;
}

.hintWord {
    text-align: center;
    font-weight: 700;
    margin-bottom: 3px;
    line-height: 13px;
}

.maxWidth {
    width: 100%;
}

.checkboxLabelAlignLeft {
    text-align: start;
    padding-left: 8px;
}

.marginBlock {
    margin: 1rem 0;
}

.currentCharacterStatusTraits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.statusTraitsRow {
    display: flex;
    justify-content: space-between;
}

.statusTraitsColumn {
    display: flex;
    flex-direction: column;

}

.heroImage {
    height: 400px;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    object-fit: cover;
    object-position: 0% 1%; 
    width: 100%;
  }

  .greyBackground {
    background-color: #bbb;
    border-radius: 3px;
    padding: 3px 5px;
    /* font-size: 1rem;
    line-height: .5rem; */
  }

  .pointer {
    cursor: pointer;
  }

  .addButton {
    padding-top: .5rem;
    padding-bottom: .5rem;

  }

  .popupSelector {
    display: flex;
    justify-content: column;
    padding: 2rem 4rem;
  }

  .popupSelector {
    /* display: none; */
    position: absolute;
    width: 500px;
    background-color: #eee;
    border-radius: 3px;
    box-shadow:  0 4px 2px #222;
    /* transform: translate(50%, 50%); */
  }

  .absoluteRigth {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }